@use "@carbon/styles/scss/spacing";
@import "~@openmrs/esm-styleguide/src/vars";

.topNavActionsSlot {
  display: flex;
  align-items: center;
}

.topNavActionsSlot a {
  color: white;
  text-decoration: none;
  margin: 0 0.75rem;
}

.navDivider {
  background-color: #f4f4f4;
  width: 0.05rem;
  height: 2.25rem;
}

.patientDetails {
  display: flex;
  align-items: center;
  color: $ui-02;
  padding: 0 spacing.$spacing-05;

  &:hover {
    background-color: #f4f4f4;
  }

  .patientName {
    // @include type.type-style('heading-compact-01');
    margin-right: spacing.$spacing-05;
    color: $ui-02;
    margin: spacing.$spacing-04 0;
    padding-right: 0.5rem;
  }

  .patientInfo {
    color: $color-gray-30;
    // @include type.type-style('body-compact-01');
    margin: 0 spacing.$spacing-05 0;
  }
}

.headerGlobalBarButton {
  @include brand-02(background-color);
}

.topNavHeader {
  top: var(--omrs-offline-banner-height);
}

.activePanel {
  @include brand-01(background-color);
}

.headerMenuButton {
  height: spacing.$spacing-09;
  width: spacing.$spacing-09;
  padding: spacing.$spacing-04;
  margin-right: spacing.$spacing-02;
}

.spacedLogo {
  margin-left: 1rem;
}
